#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdcdcd;
  /* padding: 0 1rem; */
  /* height: 60px; */
  /* width: 100rem; */
}

.navbar h1 {
  color: black;
  margin: 0;
}

.nav-left {
  text-align: left;
}

.nav-right {
  display: flex;
  gap: 1rem;
}

.nav-right button:hover {
  background-color: #646cff;
  color: white;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.footer {
  background-color: #d9d9d982;
  padding: 1rem;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #888;
}